#header.sticky {
    position: fixed;
    background: var(--primary-color);
    height: auto !important;
    box-shadow: 0 0 11px 2px rgba(0, 0, 0, 0.1);
}
.features-area {
    padding-top: 15px;
    color: #fff;
}
.facts-list .text-block {
    display: block;
    padding: 0;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}
.demo-block {
    position: relative;
    overflow: hidden;
    color: #000;
    background-color: var(--tertiary-color);
    line-height: 26px;
    letter-spacing: 1px;
}
