body{
    --primary-color:#cc8500 !important;
    --secundary-color:#8d5c01 !important;
    --tertiary-color:#ff8801 !important;
}
body, .content-wrapper{
    margin: 0;
    background-image: url('../img/fundo.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--secundary-color);
}
.content{
    background: none !important;
}
.btn:hover {
    color: #e8e6e3;
    background-color: var(--secundary-color);
    border-color: var(--primary-color);
    box-shadow: none;
}
.btn-primary {
    color: #e8e6e3;
    background-color: var(--primary-color);
    border-color: var(--secundary-color) !important;
    box-shadow: none;
}
.btn-secondary {
    color: #e8e6e3;
    background-color: var(--primary-color);
    border-color: var(--secundary-color);
    box-shadow: none;
}

.card-primary.card-outline {
    border-top: 3px solid var(--secundary-color);
}
.card-primary:not(.card-outline) > .card-header {
    background-color: var(--primary-color);
}
input.form-control{
    background-color: #222;
    color: var(--tertiary-color);

}
a {
    color: var(--tertiary-color);
    text-decoration-color: initial;
    background-color: transparent;
}
.navbar-white {
    background-color: var(--primary-color);
    color: #1f2d3d;
}
tbody {
    background-color: #222;
    color: var(--tertiary-color);
}
thead {
    background-color: var(--secundary-color);
    color: var(--tertiary-color);
}
.table-primary {
    background-color: var(--secundary-color) !important;
}
