body{
    --primary-color:#cc8500 !important;
    --secundary-color:#8d5c01 !important;
    --tertiary-color:#ff8801 !important;
}
body, .content-wrapper{
    margin: 0;
    background-image: url('../img/fundo.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--secundary-color);
}
.content{
    background: none !important;
}
.btn:hover {
    color: #e8e6e3;
    background-color: var(--secundary-color);
    border-color: var(--primary-color);
    box-shadow: none;
}
.btn-primary {
    color: #e8e6e3;
    background-color: var(--primary-color);
    border-color: var(--secundary-color) !important;
    box-shadow: none;
}
.btn-secondary {
    color: #e8e6e3;
    background-color: var(--primary-color);
    border-color: var(--secundary-color);
    box-shadow: none;
}

.card-primary.card-outline {
    border-top: 3px solid var(--secundary-color);
}
.card-primary:not(.card-outline) > .card-header {
    background-color: var(--primary-color);
}
input.form-control{
    background-color: #222;
    color: var(--tertiary-color);

}
a {
    color: var(--tertiary-color);
    text-decoration-color: initial;
    background-color: transparent;
}
.navbar-nav{
    color: #e8e6e3;
    font-weight: bold;
}
.navbar-white {
    background-color: var(--primary-color);
    color: #1f2d3d;
}
tbody {
    background-color: #222;
    color: var(--tertiary-color);
}
thead {
    background-color: var(--secundary-color);
    color: var(--tertiary-color);
}
.table-primary {
    background-color: var(--secundary-color) !important;
}
#header.sticky {
    position: fixed;
    background: var(--primary-color);
    height: auto !important;
    box-shadow: 0 0 11px 2px rgba(0, 0, 0, 0.1);
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    color:#e8e6e3;
    background-color: #000;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.celula-alinhada {
    text-align: center !important;
    vertical-align: middle !important;
  }
